# We create the tables
Execution of the first step: Drop the table if exists and create the tables.

In [1]:
!python 1_create_tables.py

DROP TABLE IF EXISTS staging_events

DROP TABLE IF EXISTS staging_songs

DROP TABLE IF EXISTS fact_songplay

DROP TABLE IF EXISTS dim_users

DROP TABLE IF EXISTS dim_songs

DROP TABLE IF EXISTS dim_artists

DROP TABLE IF EXISTS dim_time

CREATE TABLE staging_events (
                                  artist text,
                                  auth text,
                                  first_name text,
                                  gender text,
                                  itemInSession int,
                                  lastName text,
                                  lenght DOUBLE PRECISION,
                                  level text,
                                  location text,
                                  method text,
                                  page text,
                                  registration bigint,
                                  sessionId int,
                                  song text,
                                  status int,
                                  ts bigint,
                                  userAgent text,
                                  UserId int
                                )

CREATE TABLE staging_songs  (
                                  artist_id text,
                                  artist_latitude DOUBLE PRECISION,
                                  artist_location text,
                                  artist_longitude DOUBLE PRECISION,
                                  artist_name text,
                                  duration DOUBLE PRECISION,
                                  num_songs int,
                                  song_id text,
                                  title text,
                                  year int
                                )

CREATE TABLE dim_users (
                        user_id INT NOT NULL,
                        level TEXT NOT NULL,
                        first_name text,
                        last_name text,
                        gender text,
                        PRIMARY KEY (user_id, level)
                    )

CREATE TABLE dim_artists (
                          artist_id TEXT NOT NULL PRIMARY KEY,
                          name TEXT,
                          location TEXT,
                          lattitude DOUBLE PRECISION,
                          longitude DOUBLE PRECISION
                        )

CREATE TABLE dim_songs (
                        song_id text NOT NULL PRIMARY KEY,
                        title text,
                        artist_id TEXT NOT NULL REFERENCES dim_artists(artist_id),
                        year int,
                        duration DOUBLE PRECISION
                    )

CREATE TABLE dim_time (
                        start_time dateTime NOT NULL PRIMARY KEY,
                        hour int NOT NULL,
                        day int NOT NULL,
                        week int NOT NULL,
                        month int NOT NULL,
                        year int NOT NULL,
                        weekday int NOT NULL
                    )

CREATE TABLE fact_songplay (
                            songplay_id INT NOT NULL IDENTITY(1,1) PRIMARY KEY,
                            start_time DATE NOT NULL REFERENCES dim_time(start_time),
                            user_id INT NOT NULL,
                            level TEXT NOT NULL,
                            song_id TEXT NULL REFERENCES dim_songs(song_id),
                            artist_id TEXT NULL REFERENCES dim_artists(artist_id),
                            session_id int NOT NULL,
                            location TEXT,
                            user_agent TEXT,
                            foreign key(user_id, level) references dim_users(user_id, level))

# Run the ETL
The second step is take the data into the staging tables and later insert it into the star-schema tables.

In [2]:
!python 2_etl.py

Loading data into staging tables...
copy staging_events
                           from 's3://udacity-dend/log_data'
                           credentials 'aws_iam_role=arn:aws:iam::276425435005:role/dwhRole'
                           json 's3://udacity-dend/log_json_path.json'
                           region 'us-west-2';

copy staging_songs from 's3://udacity-dend/song_data'
                           credentials 'aws_iam_role=arn:aws:iam::276425435005:role/dwhRole'
                           json 'auto ignorecase'
                           region 'us-west-2';

Inserting data into definitive tables...
INSERT INTO dim_users (user_id, level, first_name, last_name, gender)
                        Select distinct
                            userid,
                            level,
                            first_name,
                            lastname,
                            gender
                        FROM staging_events
                        where userid is not NULL

INSERT INTO dim_songs (song_id, title, artist_id, year, duration)
                        Select distinct
                            song_id,
                            title,
                            artist_id,
                            year,
                            duration
                        FROM staging_songs

INSERT INTO dim_artists (artist_id, name, location, lattitude, longitude)
                          Select distinct
                              artist_id,
                              artist_name,
                              artist_location,
                              artist_latitude,
                              artist_longitude
                          FROM staging_songs

INSERT INTO dim_time (start_time, hour, day, week, month, year, weekday)
                        Select distinct
                            start_time,
                            EXTRACT(hour FROM start_time),
                            EXTRACT(day FROM start_time),
                            EXTRACT(week FROM start_time),
                            EXTRACT(month FROM start_time),
                            EXTRACT(year FROM start_time),
                            EXTRACT(weekday FROM start_time)
                        FROM
                            (SELECT TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 second' AS start_time
                            FROM staging_Events
                            where page = 'NextSong') a

INSERT INTO fact_songplay (start_time, user_id, level, song_id, artist_id,
                                                       session_id,location,user_agent)
                            SELECT
                                TIMESTAMP 'epoch' + ts/1000 * INTERVAL '1 second' AS start_time,
                                e.userid,
                                e.level,
                                s.song_id,
                                s.artist_id,
                                e.sessionid,
                                e.location,
                                e.useragent
                            FROM
                                staging_Events e
                                LEFT  JOIN staging_songs s on s.title = e.song and e.artist = s.artist_name
                            where page = 'NextSong';

# Analysis
Finally, we execute some additional queries to check the data is correct.

In [7]:
!python 3_analysis.py

Checking the number of rows of each table...
SELECT COUNT(*) from staging_events
[(8056,)]

SELECT COUNT(*) from staging_songs
[(14896,)]

SELECT COUNT(*) from dim_time
[(6813,)]

SELECT COUNT(*) from dim_users
[(105,)]

SELECT COUNT(*) from dim_artists
[(10025,)]

SELECT COUNT(*) from dim_songs
[(14896,)]

SELECT COUNT(*) from fact_songplay
[(6820,)]

Solving some example questions...
1. How many active users are there in the app?
Select count(DISTINCT USER_ID) FROM DIM_USERS
(97,)

2. What is the location with more reproductions?

            Select location, count(*)
            from fact_songplay
            group by location
            order by 2 desc
            limit 1
('San Francisco-Oakland-Hayward, CA', 691)

3. Build a ranking with the users with more reproductions in the app

            SELECT
                f.user_id, u.first_name, u.last_name, count(*)
            FROM
                fact_songplay f
                inner join dim_users u on u.user_id = f.user_id
            group by
                f.user_id, u.first_name, u.last_name
            order by 4 desc
            limit 10


(49, 'Chloe', 'Cuevas', 1378)
(80, 'Tegan', 'Levine', 1330)
(15, 'Lily', 'Koch', 926)
(29, 'Jacqueline', 'Lynch', 692)
(97, 'Kate', 'Harrell', 557)
(88, 'Mohammad', 'Rodriguez', 540)
(36, 'Matthew', 'Jones', 496)
(16, 'Rylan', 'George', 446)
(44, 'Aleena', 'Kirby', 397)
(85, 'Kinsley', 'Young', 358)

4. What is the date range we are working on

        Select
            min(start_time), max(start_time)
        from
            fact_songplay f;

(datetime.datetime(2018, 11, 1, 21, 1, 46), datetime.datetime(2018, 11, 30, 19, 54, 24))

5. How many reproductions are in each hour?

        Select
            Hour,
            count(*)
        from
            fact_songplay f inner join
            dim_time t on f.start_time = t.start_time
        group by Hour
        order by 1 asc

(0, 155)
(1, 154)
(2, 117)
(3, 109)
(4, 136)
(5, 162)
(6, 183)
(7, 179)
(8, 207)
(9, 270)
(10, 312)
(11, 336)
(12, 308)
(13, 324)
(14, 432)
(15, 477)
(16, 542)
(17, 494)
(18, 498)
(19, 367)
(20, 360)
(21, 280)
(22, 217)
(23, 201)